<div class="header">
  <h1 mat-dialog-title>{{'SurchargeCustomers' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="scInputs.debitorennr" matInput placeholder="Debitoren nr" [formControl]="formDebitorennr">
    <mat-error *ngIf="formDebitorennr.invalid">
      Debitorennr is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="scInputs.debitor" matInput placeholder="Debitor" (keyup.enter)="confirmEdit()" [formControl]="formDebitor">
    <mat-error *ngIf="formDebitor.invalid">
      Debitor is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select [(ngModel)]="scInputs.typ" placeholder="Typ" [formControl]="formTyp">
      <mat-option>None</mat-option>
      <mat-option value="Fremdbanken">Fremdbanken</mat-option>
      <mat-option value="Sektorbanken">Sektorbanken</mat-option>
    </mat-select>
    <mat-error *ngIf="formTyp.invalid">
      Typ is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="scInputs.kundennr" placeholder="Kundennr" matInput [formControl]="formKundennr">
    <mat-error *ngIf="formKundennr.invalid">
      Kunden Number is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.kunde" placeholder="Kunde" matInput [formControl]="formKunde">
    <mat-error *ngIf="formKunde.invalid">
      Kunden is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="value-input">
    <input type="number" [(ngModel)]="scInputs.n2015" placeholder="2015" matInput [formControl]="formN2015">
    <mat-error *ngIf="formN2015.invalid">
      2015 number is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="value-input">
    <input type="number" [(ngModel)]="scInputs.n2016" placeholder="2016" matInput [formControl]="formN2016">
    <mat-error *ngIf="formN2016.invalid">
      2016 number is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="value-input">
    <input type="number" [(ngModel)]="scInputs.n2017" placeholder="2017" matInput [formControl]="formN2017">
    <mat-error *ngIf="formN2017.invalid">
      2017 number is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="value-input">
    <input type="number" [(ngModel)]="scInputs.n2018" placeholder="2018" matInput [formControl]="formN2018">
    <mat-error *ngIf="formN2018.invalid">
      2018 number is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="scInputs.aufschlag_2018" matInput placeholder="Aufschlag 2018" [formControl]="formAufschlag_2018">
    <mat-error *ngIf="formAufschlag_2018.invalid">
      Aufschlag number is <strong>required</strong>
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
  <button [disabled]="scForm.invalid" (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>