<div class="header">
    <h1 mat-dialog-title>{{'Export' | translate }}</h1>
</div>

<mat-dialog-content>
    <mat-form-field>
        <mat-select #year (selectionChange)="changeScenarios($event.value)" placeholder="{{ 'Year' | translate}}">
            <mat-option value="2017">2017</mat-option>
            <mat-option value="2018">2018</mat-option>
            <mat-option value="2019">2019</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select #scenario placeholder="{{ 'Scenarios' | translate }}">
            <mat-option *ngFor="let sc of scenarios" [(value)]="sc.scenario">{{sc.scenario}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div><button (click)="exportXML(year.value, scenario.value)" target="_blank" mat-raised-button class="export-button">Export</button></div>
    <div *ngIf="this.message === true" class="warning-container">{{ 'ExportMsg' | translate}}</div>
    <div *ngIf="this.doneMessage === true" class="warning-container">Export was done</div>
</mat-dialog-content>


<mat-dialog-actions>
    <button mat-mini-fab mat-dialog-close matTooltip="{{'Cancel' | translate}}" class="clear-icon">
        <mat-icon>clear</mat-icon>
    </button>
</mat-dialog-actions>