<div class="header">
  <h1 mat-dialog-title>{{title}}</h1>
</div>

<mat-dialog-content>

  <mat-form-field *ngFor="let column of columns" class="full-width">
    <input [(ngModel)]="inputs[column]" [formControl]="form.controls[column]" matInput placeholder="{{column | titlecase}}">
    <mat-error *ngIf="form.controls[column].hasError('required')">
      Please enter a {{column}}.
    </mat-error>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
  <button (click)="save()" [disabled]="!form.valid" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>
