<div class="header">
  <h1 mat-dialog-title>{{'SurchargeCustomers' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.debitornumber" matInput placeholder="Debitor Number" [formControl]="formdebitornumber"
      [formControl]="formdebitornumber">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.debitorname" matInput placeholder="Debitor" (keyup.enter)="confirmEdit()"
      [formControl]="formdebitorname">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.type" matInput placeholder="Type" [formControl]="formtype" [formControl]="formtype">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.customernumber" placeholder="Customer Number" matInput [formControl]="formcustomernumber">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.customername" placeholder="Customer Name" matInput [formControl]="formcustomername">
  </mat-form-field>

  <form id="rates-inputs">
    <mat-form-field class="half-width">
      <input [(ngModel)]="scrInputs.year" placeholder="Year" matInput [formControl]="formrates">
    </mat-form-field>

    <mat-form-field class="half-width">
      <input [(ngModel)]="scrInputs.dailyrate" placeholder="Daily Rate" matInput [formControl]="formrates">
    </mat-form-field>

    <button (click)="editRatesTable()" mat-mini-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </form>

</mat-dialog-content>

<div class="mat-elevation-z8">
  <table>
    <thead mat-header>
      <tr>
        <th>Year</th>
        <th>Daily Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let array of ratesArray; let i = index">
        <td>{{array.year}}</td>
        <td>{{array.dailyrate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-dialog-actions>
  <button [disabled]="scForm.invalid" (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>