mat-toolbar {
  background: white;
}

mat-form-field {
  font-size: 15px;
  width: 100px;
  margin-right:10px;
}

a {
  margin-right: 10px;
  padding: 5px 30px 5px 30px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#logout-btn-container{
  position: fixed;
  right: 19%;
}

#logout-btn{
  margin-right: 10px;
  padding: 5px 30px 5px 30px;
  background-color: #428bca ;
  color: white;
}

#menu-btn{
  border: 2px solid #428bca;
  position: relative;
  right: 12%;
}

.logo {
  position: fixed;
  right: 0;
  width: 10%;
  height: 6%;
  top: 1%;
  background-image: url(../../assets/resources/logo2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.active {
  color: white;
  background: #428bca;
}

hr {
  margin: 15px;
}

.language {
  color: white;
  height: 40px;
}

#english-btn{
  position: fixed;
  right: 15%;
  width:40px;
  height: 40px;
  padding: 0 0 0 0 ;
  border-radius: 20px;
  background-color: white;
  border: 0;
  background-image: url(../../assets/resources/united-kingdom.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#german-btn{
  position: fixed;
  right: 11.5%;
  width:40px;
  height: 40px;
  padding: 0 0 0 0 ;
  border-radius: 20px;
  background-color: white;
  border: 0;
  background-image: url(../../assets/resources/germany.png);
  background-repeat: no-repeat;
  background-size: cover;
}