<div class="align-page">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="filteredDataSource">

      <!-- Planmill Projektnummer Column -->
      <ng-container matColumnDef="projectnumberplanmill">
        <th mat-header-cell *matHeaderCellDef class="header">
          Planmill Projektnummer

          <button mat-icon-button (click)="projectnumberplanmillSearch = !projectnumberplanmillSearch; clearSearchInputBox()">
            <mat-icon class="searchIcon">search</mat-icon>
          </button>
          <div *ngIf="projectnumberplanmillSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="projectnumberplanmillSearchQuery" (keyup)="filter()" matInput placeholder="Search...">
            </mat-form-field>
          </div>
        </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <input type="text" [(ngModel)]="fppInputs.projectnumberplanmill" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formProjectnumberplanmill">
              <mat-error *ngIf="formProjectnumberplanmill.invalid">
                Planmill Projektnummer is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.projectnumberplanmill }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Tagetik_Projekt-ID Column -->
      <ng-container matColumnDef="projectidtagetik">
        <th mat-header-cell *matHeaderCellDef class="header">

          Tagetik_Projekt-ID

          <button mat-icon-button (click)="tagetikSearch = !tagetikSearch; clearSearchInputBox();">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="tagetikSearch === true">
            <mat-form-field>
              <input [(ngModel)]="tagetikSearchQuery" (keyup)="filter()" matInput placeholder="Search..." class="searchInput">
            </mat-form-field>
          </div>


        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <input type="text" [(ngModel)]="fppInputs.projectidtagetik" [formControl]="formProjectidtagetik"
                matInput (keyup.enter)="confirmEdit()">
              <mat-error *ngIf="formProjectidtagetik.invalid">
                Tagetik Projekt ID is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.projectidtagetik }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- ProjectDescription Column -->
      <ng-container matColumnDef="projectdescription">
        <th mat-header-cell *matHeaderCellDef class="header">

          ProjBez

          <button mat-icon-button (click)="projectdescriptionSearch = !projectdescriptionSearch; clearSearchInputBox(); ">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="projectdescriptionSearch === true">
            <mat-form-field>
              <input [(ngModel)]="projectdescriptionSearchQuery" (keyup)="filter()" matInput placeholder="Search..." class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="full-width">
              <textarea [(ngModel)]="fppInputs.projectdescription" type="text" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formProjectdescription"></textarea>
              <mat-error *ngIf="formProjectdescription.invalid">
                Projekt Bezeichnung is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.projectdescription }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- CustomerNumber Column -->
      <ng-container matColumnDef="customernumber">
        <th mat-header-cell *matHeaderCellDef class="header">

          KundenNr

          <button mat-icon-button (click)="customernumberSearch = !customernumberSearch; clearSearchInputBox(); ">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customernumberSearch === true">
            <mat-form-field>
              <input type="number" [(ngModel)]="customernumberSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="number" [(ngModel)]="fppInputs.customernumber" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formCustomernumber">
              <mat-error *ngIf="formCustomernumber.invalid">
                Kunden Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.customernumber }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Preis Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="header">

          Fixpreis [EUR]

          <button mat-icon-button (click)="priceSearch = !priceSearch; clearSearchInputBox(); ">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="priceSearch === true">
            <mat-form-field>
              <input type="number" [(ngModel)]="priceSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="number" [(ngModel)]="fppInputs.price" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formPrice">
              <mat-error *ngIf="formPrice.invalid">
                Fixpreis is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.price }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="options-menu"></th>
        <td mat-cell *matCellDef="let element">
          <ng-template #editButton>
            <button [disabled]="createNewRow === true" mat-button (click)="editRow(element.id)" class="edit-icon">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else editButton">
            <button mat-button class="done-icon" (click)="confirmEdit()" [disabled]="fppForm.invalid">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-button (click)="cancelEdit()" class="cancel-icon">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="space-for-buttons">
  </div>

  <div class="right">
    <button (click)="openDialog()" mat-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>