<div class="header">
  <h1 mat-dialog-title>{{'Kundenstamm' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="fppInputs.blz_pnr" placeholder="BLZ" matInput
      [formControl]="formBLZ_pnr">
    <mat-error *ngIf="formBLZ_pnr.invalid">
      BLZ is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="fppInputs.block_pnr" placeholder="Block" [formControl]="formblock"
      matInput (keyup.enter)="confirmEdit()">
    <mat-error *ngIf="formblock.invalid">
      Block is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea [(ngModel)]="fppInputs.knoten_pnr" type="text" matInput placeholder="Knoten" [formControl]="formKnoten"></textarea>
    <mat-error *ngIf="formProjbez.invalid">
      Knoten is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="fppInputs.kundenname_pnr" matInput placeholder="Kundenname" [formControl]="formKundenname">
    <mat-error *ngIf="formKundenname.invalid">
      Kundenname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="fppInputs.bkgr_pnr" matInput placeholder="BkGr" [formControl]="formBkGr">
    <mat-error *ngIf="formBkGr.invalid">
      BkGr is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="fppInputs.cluster_pnr" matInput placeholder="Cluster" [formControl]="formCluster">
    <mat-error *ngIf="formCluster.invalid">
      Cluster is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
  <button (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>