<div class="align-page">
  <div class="mat-elevation-z8" id="table-container">
    <table mat-table [dataSource]="filteredDataSource">

      <!-- Customer Number Column -->
      <ng-container matColumnDef="customerNumber">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'customerNumber' | translate }}

          <button mat-icon-button (click)="customerNumberSearch = !customerNumberSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customerNumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="customerNumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <input type="text" [(ngModel)]="pnInputs.customerNumber" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formcustomerNumber">
              <mat-error *ngIf="formcustomerNumber.invalid">
                {{ 'customerNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div class="cells">
              {{ element.customerNumber }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Customer Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef class="header">

          {{ 'customerName' | translate }}

          <button mat-icon-button (click)="customerNameSearch = !customerNameSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customerNameSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="customerNameSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <textarea type="text" [(ngModel)]="pnInputs.customerName" [formControl]="formcustomerName" matInput
                (keyup.enter)="confirmEdit()"></textarea>
              <mat-error *ngIf="formcustomerName.invalid">
                {{ 'customerName' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div class="cells">
              {{ element.customerName }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Hierarchy Column -->
      <ng-container matColumnDef="hierarchy">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Hierarchy' | translate }}
          <button mat-icon-button (click)="hierarchySearch = !hierarchySearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="hierarchySearch === true" class="search-input">
            <mat-form-field>
              <mat-select [(value)]="hierarchySearchQuery" (selectionChange)="filter()">
                <mat-option>None</mat-option>
                <mat-option value="k1">K1</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="full-width">
              <input type="text" [(ngModel)]="pnInputs.hierarchy" [formControl]="formhierarchy" type="text" matInput
                (keyup.enter)="confirmEdit()">
              <mat-error *ngIf="formhierarchy.invalid">
                {{ 'Hierarchy' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div class="cells">
              {{ element.hierarchy }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Payernode Number Column -->
      <ng-container matColumnDef="payerNodeNumber">
        <th mat-header-cell *matHeaderCellDef class="header">

          {{ 'payerNodeNumber' | translate }}

          <button mat-icon-button (click)="payerNodeNumberSearch = !payerNodeNumberSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="payerNodeNumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="payerNodeNumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="number" [(ngModel)]="pnInputs.payerNodeNumber" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formpayerNodeNumber">
              <mat-error *ngIf="formpayerNodeNumber.invalid">
                {{ 'payerNodeNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div class="cells">
              {{ element.payerNodeNumber }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Payernode Description Column -->
      <ng-container matColumnDef="payerNodeDescription">
        <th mat-header-cell *matHeaderCellDef class="mini-header">

          {{ 'payerNodeDescription' | translate }}

          <button mat-icon-button (click)="payerNodeDescriptionSearch = !payerNodeDescriptionSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="payerNodeDescriptionSearch === true" class="search-input">
            <mat-form-field>
              <input type="text" [(ngModel)]="payerNodeDescriptionSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="pnInputs.payerNodeDescription" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formpayerNodeDescription">
              <mat-error *ngIf="formpayerNodeDescription.invalid">
                {{ 'payerNodeDescription' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div class="cells">
              {{ element.payerNodeDescription }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Payernode Code Column -->
      <ng-container matColumnDef="payerNodeCode">
        <th mat-header-cell *matHeaderCellDef class="mini-header">

          {{ 'payerNodeCode' | translate }}

          <button mat-icon-button (click)="payerNodeCodeSearch = !payerNodeCodeSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="payerNodeCodeSearch === true" class="search-input">
            <mat-form-field>
              <input type="text" [(ngModel)]="payerNodeCodeSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="pnInputs.payerNodeCode" matInput (keyup.enter)="confirmEdit()"
                [formControl]="formpayerNodeCode">
              <mat-error *ngIf="formpayerNodeCode.invalid">
                {{ 'payerNodeCode' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.payerNodeCode }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="header options-menu"></th>
        <td mat-cell *matCellDef="let element">
          <ng-template #editButton>
            <button [disabled]="createNewRow === true" mat-button (click)="editRow(element.id)" class="edit-icon"
              matTooltip="{{'Edit' | translate }}">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else editButton">
            <button mat-button class="done-icon" (click)="confirmEdit()" [disabled]="isFieldChanged() === false || pnForm.invalid" matTooltip="{{'ConfirmEdit' | translate }}">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-button (click)="cancelEdit()" class="cancel-icon" matTooltip="{{'Cancel' | translate }}">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </table>
    <div class="footer">
      <mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="space-for-buttons">
  </div>

  <div class="right">
    <button (click)="openDialog()" mat-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>