mat-toolbar {
  background: white;
  margin-top: 8px;
}

mat-form-field {
  font-size: 15px;
  width: 100px;
  margin-right: 10px;
}

a {
  margin-right: 10px;
  padding: 5px 30px 5px 30px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.logo {
  padding: 0px;
  width: 10%;
  height: auto;
}

.active {
  color: white;
  border-bottom: 5px solid #F7FF00;
  background-color: #525252;
  font-family: 'Poppins', sans-serif;
}

.mat-menu-item {
  font-family: 'Poppins', sans-serif;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
}

.language {
  color: white;
  height: 40px;
}

.country {
  width: 40px;
  height: auto;
  float: right;
}

.create-space {
  margin-right: 20px;
  padding-right: 5px;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #525252;
}

.snackbar-panelclass {
  color: white;
  background-color: #525252;
}

mat-menu {
  padding-top: 40px;
}

.white-icon {
  color: white;
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */

.white-icon svg {
  fill: white;
}