#main-container {
  margin-top: 1.5%;
}

#logo-container {
  position: relative;
  display: inline-block;
  margin-left: 16%;
}

#welcome-message {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

#welcome-container {
  display: inline-block;
  margin-left: 50%;
}

#lang-select {
  display: inline-block;
}


#logout-container {
  display: inline-block;
}

mat-toolbar {
  background: white;
  margin-top: 8px;
  text-align: center;
}

#toolbar-container{
  overflow: hidden;
  text-align: center;
}


#tabs-container {
  flex: 12 1 auto;
  text-align: center;
}


mat-form-field {
  font-size: 15px;
  width: 100px;
  margin-right: 10px;
}

a {
  margin-right: 10px;
  padding: 5px 30px 5px 30px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.active {
  color: white;
  border-bottom: 5px solid #F7FF00;
  background-color: #525252;
  font-family: 'Poppins', sans-serif;
}

.mat-menu-item {
  font-family: 'Poppins', sans-serif;
}

#bar {
  margin-top: 5px;
  margin-bottom: 0px;
  width: 70%;
}
#lang-btn:hover {
  background-color:transparent !important;
}
.language {
  color: white;
  height: 40px;
}

#lang-btn {
  padding: 0;
  text-align: center;
}

.country {
  width: 25px;
  height: auto;
}

.create-space {
  margin-right: 20px;
  padding-right: 5px;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #525252;
}

.snackbar-panelclass {
  color: white;
  background-color: #525252;
}

mat-menu {
  padding-top: 40px;
}


.white-icon {
  color: white;
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */

.white-icon svg {
  fill: white;
}