#main-container {
  overflow: hidden;
  margin-top: 0%;
  padding: 0% 15% 1.5% 15%;
}

#logo-container {
  float: left;
}

#welcome-container {
  position: relative;
  display: inline-block;
}

#welcome-message {
  width: 180px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

#right-container {
  float: right;
}

#logout-container {
  margin-right: 40px;
}

#export-container {
  margin-right: 20px;
}

.menu-items {
  text-align: center;
  padding-top: 8px;
}

#logout-btn {
  border-radius: 50%;
  background-color: #FEEF00;
  text-align: center;
  margin-right: 5px;
}

.logout {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 23px;
  height: auto;
}

#logout-text { 
  font-family: 'Poppins', sans-serif;
}

mat-toolbar {
  background: white;
  margin-top: 8px;
  text-align: center;
}

#toolbar-container{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

mat-form-field {
  font-size: 15px;
  width: 100px;
  margin-right: 10px;
}

a {
  margin-right: 10px;
  padding: 5px 30px 5px 30px;
}

.arrow{
  margin-right: 0px;
  padding-left: 5px;
  height: 9px;
  width: 12px;
  font-family: 'Poppins', sans-serif !important;
}

.lang-text {
  margin-right: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif !important;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.active {
  color: white;
  border-bottom: 5px solid #FEEF00;
  background-color: #525252;
  font-family: 'Poppins', sans-serif;
}

.select-tables {
  width: 150px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif !important;
}

#bar {
  margin-top: 5%;
  margin-bottom: 0px;
  width: 100%;
}

.language {
  color: white;
  height: 40px;
}

#lang-btn {
  background-color: transparent;
  padding: 0;
  text-align: center;
}

#lang-container{
  position: relative;
  margin-left: 90%;
}

.country {
  width: 27px;
  height: auto;
}

.create-space {
  margin-right: 20px;
  padding-right: 5px;
}

.fill-top-space {
  height: 20px;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #525252;
}

.snackbar-panelclass {
  color: white;
  background-color: #525252;
}

mat-menu {
  padding-top: 40px;
}


.white-icon {
  color: white;
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */

.white-icon svg {
  fill: white;
}