<mat-toolbar>

  <div [@languageChange]="language">
    <span>
      <a [routerLink]="['/fixed-prices']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        mat-button color="primary">{{'FixedPriceProjects' | translate}}</a>
    </span>
    <span>
      <a [routerLink]="['/surcharge-customers']" routerLinkActive="active" mat-button color="primary">{{'SurchargeCustomers'
        | translate}}</a>
    </span>
    <span>
      <a [routerLink]="['/payer-nodes']" routerLinkActive="active" mat-button color="primary">{{'PayerNodes'
        | translate}}</a>
    </span>
    <span>
      <a [routerLink]="['/customer-base']" routerLinkActive="active" mat-button color="primary">{{'CustomerBase'
        | translate}}</a>
    </span>
    <span>
      <a [routerLink]="['/logs']" routerLinkActive="active" mat-button color="primary">{{'Logs' | translate}}</a>
    </span>
  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu xPosition="before" yPosition="above" #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage('en')">EN <img class="country" src="../../assets/resources/united-kingdom.png"></button>
    <button mat-menu-item (click)="switchLanguage('de')">DE <img class="country" src="../../assets/resources/germany.png"></button>
    <button mat-menu-item class="export"><mat-icon [attr.color]="'black'">save_alt</mat-icon>{{ 'ExportButton' | translate }}</button>
    <button mat-menu-item [routerLink]="['']"><a color="primary">{{ 'Logout' | translate }}</a></button>
  </mat-menu>

  <img class="logo" src="../../assets/resources/logo2.png" alt="">
</mat-toolbar>

<hr>