#background-container{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/resources/sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo-container{
  position: fixed;
  width: 100%;
  height: 9%;
  left: 0;
  right: 0;
  top: 6%;
}

#logo{
  position: fixed;
  left: 45%;
  width: 11%;
  height: 10%;
  background-image: url(../../../assets/resources/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#main-container{
  position: fixed;
  width: 20%;
  height: 45%;
  left: 40%;
  top: 17%;
}
#second-container{
  position: relative;
  height:70%;
  width: 100%;
  top: 1%;
  left: 0;
}

#login-form-container{
  position: relative;
  top: 10%;
  left: 0;
}

.input-containers{
  position: relative;
  left: 0;
  width: 100%;
  height: 30%;
}

.input-forms{
  position: relative;
  background-color: white;
  color: black;
  font-size: 20px;
  width: 100%;
  height: 30px;
  padding: 8px;
  margin-top: 6%;
  border: 1px solid black;
  border-radius: 4px;
}

#login-btn-container{
  position: relative;
  top: 8%;
  width: 100%;
  height: 30%;
}

#login-btn{
  position: relative;
  font-weight: bold;
  font-size: 20px;
  background-color: #00BFFF;
  color: #fff;
  width: 105%;
  height: 55%;
  left: 0;
  border-radius: 4px;
}

#issue-container{
  position: relative;
  color: white;
  width: 105%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
#copyright-container{
  position: fixed;
  font-size: 18px;
  bottom: 1.7%;
  width: 50%;
  left: 26%;
  color: white;
  text-align: center;
}
