::ng-deep router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 80%;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}

#nav-container {
  background-color: white;
}

#container2 {
  background-color: #F4F4F4;
}

html {
  background-color: #F4F4F4;
}