table {
  width: 100%;
}

.align-page {

  margin: 20px 10px 0px 10px;
}

.header {
  background: #428bca;
  color: white;
}

.highlight {
  background-color: #eeeeee;
}

.selectionHeader {
  width: 40px;
}

.position-column {
  width: 80px;
}

.space-for-buttons {
  height: 130px;
}

.options-menu {
  width: 10px;
}

.edit-icon {
  color: #428bca;
}

.cancel-icon {
  color: #d9534f;
  /* color: white; */
}

.done-icon {
  color: #46a546;
  /* color: white; */
}