<div class="align-page">
  <div class="mat-elevation-z8" id="table-container">
    <table mat-table [dataSource]="filteredDataSource">

      <!-- debitorNumber Column -->
      <ng-container matColumnDef="debitorNumber">
        <!-- debitorNumber Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'debitorNumber' | translate }}
          <button mat-icon-button (click)="debitorNumberSearch = !debitorNumberSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="debitorNumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="debitorNumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- debitorNumber Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class="cells">
            {{ element.debitorNumber }}
          </div>
        </td>
      </ng-container>

      <!-- debitorName Column -->
      <ng-container matColumnDef="debitorName">
        <!-- debitorName Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Debitor' | translate }}
          <button mat-icon-button (click)="debitorNameSearch = !debitorNameSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="debitorNameSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="debitorNameSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- debitorName Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class="cells">
            {{ element.debitorName }}
          </div>
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <!-- Type Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Type' | translate }}
          <button mat-icon-button (click)="typeSearch = !typeSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="typeSearch === true" class="search-input">

            <mat-form-field>
              <mat-select [(value)]="typeSearchQuery" (selectionChange)="filter()">
                <mat-option>None</mat-option>
                <mat-option value="Fremdbanken">Fremdbanken</mat-option>
                <mat-option value="Sektorbanken">Sektorbanken</mat-option>
                <mat-option value="Sonstige Sektor">Sonstige Sektor</mat-option>
                <mat-option value="Sonstige Fremdfirmen">Sonstige Fremdfirmen</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </th>
        <!-- Type Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class="cells">
            {{ element.type }}
          </div>
        </td>
      </ng-container>

      <!-- customerNumber Column -->
      <ng-container matColumnDef="customerNumber">
        <!-- customerNumber Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'CustomerId' | translate }}
          <button mat-icon-button (click)="customerNumberSearch = !customerNumberSearch; clearSearchInputBox();">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customerNumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="customerNumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- customerNumber Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class="cells">
            {{ element.customerNumber }}
          </div>
        </td>
      </ng-container>

      <!-- customerName Column -->
      <ng-container matColumnDef="customerName">
        <!-- customerName Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'customerName' | translate }}
          <button mat-icon-button (click)="customerNameSearch = !customerNameSearch; clearSearchInputBox();">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customerNameSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="customerNameSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- customerName Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class="cells">
            {{ element.customerName }}
          </div>
        </td>
      </ng-container>

      <!-- Year Rates Column -->
      <ng-container matColumnDef="year">
        <!-- Year Rates Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ '2019Rates' | translate }}
        </th>
        <!-- 2018 Rates Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          2019
        </td>
      </ng-container>


      <!-- Buttons Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="header options-menu"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="openEditDialog(element.id)" matTooltip="{{'Edit' | translate}}" class="edit-icon">
            <mat-icon>edit</mat-icon>
          </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </table>
    <div class="footer">
      <mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="space-for-buttons">
  </div>

  <div class="right">
    <button (click)="openDialog()" mat-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>