<div class="align-page">
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="filteredDataSource">

      <!-- Debitornumber Column -->
      <ng-container matColumnDef="debitornumber">
        <!-- Debitornumber Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'DebitorNumber' | translate }}
          <button mat-icon-button (click)="debitornumberSearch = !debitornumberSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="debitornumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="debitornumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- Debitornumber Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class = "cells">
            {{ element.debitornumber }}
          </div>
        </td>
      </ng-container>

      <!-- Debitorname Column -->
      <ng-container matColumnDef="debitorname">
        <!-- Debitorname Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Debitor' | translate }}
          <button mat-icon-button (click)="debitornameSearch = !debitornameSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="debitornameSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="debitornameSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- Debitorname Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class = "cells">
            {{ element.debitorname }}
          </div>
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <!-- Type Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Type' | translate }}
          <button mat-icon-button (click)="typeSearch = !typeSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="typeSearch === true" class="search-input">

            <mat-form-field>
              <mat-select [(value)]="typeSearchQuery" (selectionChange)="filter()">
                <mat-option>None</mat-option>
                <mat-option value="Fremdbanken">Fremdbanken</mat-option>
                <mat-option value="Sektorbanken">Sektorbanken</mat-option>
                <mat-option value="Sonstige Sektor">Sonstige Sektor</mat-option>
                <mat-option value="Sonstige Fremdfirmen">Sonstige Fremdfirmen</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </th>
        <!-- Type Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class = "cells">
            {{ element.type }}
          </div>
        </td>
      </ng-container>

      <!-- Customernumber Column -->
      <ng-container matColumnDef="customernumber">
        <!-- Customernumber Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'CustomerId' | translate }}
          <button mat-icon-button (click)="customernumberSearch = !customernumberSearch; clearSearchInputBox();">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customernumberSearch === true" class="search-input">
            <mat-form-field>
              <input type="number" [(ngModel)]="customernumberSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- Customernumber Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class = "cells">
            {{ element.customernumber }}
          </div>
        </td>
      </ng-container>

      <!-- Customername Column -->
      <ng-container matColumnDef="customername">
        <!-- Customername Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'CustomerName' | translate }}
          <button mat-icon-button (click)="customernameSearch = !customernameSearch; clearSearchInputBox();">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customernameSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="customernameSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <!-- Customername Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          <div class = "cells">
            {{ element.customername }}
          </div>
        </td>
      </ng-container>

      <!-- 2018 Rates Column -->
      <ng-container matColumnDef="year">
        <!-- 2018 Rates Header -->
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ '2018Rates' | translate }}
        </th>
        <!-- 2018 Rates Cell -->
        <td mat-cell *matCellDef="let element" (click)="openViewDialog(mapToDataSource(element.id))">
          2018
        </td>
      </ng-container>


      <!-- Buttons Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="header options-menu"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="openEditDialog(element.id)" matTooltip="{{'Edit' | translate}}" class="edit-icon">
            <mat-icon>edit</mat-icon>
          </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="space-for-buttons">
  </div>

  <div class="right">
    <button (click)="openDialog()" mat-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>