<div class="header">
  <h1 mat-dialog-title>{{'SurchargeCustomers' | translate }}</h1>
</div>

<mat-dialog-content>
  <form [formGroup]="scForm">
    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="scInputs.debitornumber" matInput placeholder="{{ 'DebitorNumber' | translate }}"
        [formControl]="formdebitornumber">
      <mat-error *ngIf="formdebitornumber">
        {{ 'DebitorNumber' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="scInputs.debitorname" matInput placeholder="{{ 'Debitor' | translate }}"
        [formControl]="formdebitorname">
      <mat-error *ngIf="formdebitornumber">
        {{ 'Debitor' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="scInputs.type" placeholder="{{ 'Type' | translate }}" [formControl]="formtype">
        <mat-option>None</mat-option>
        <mat-option value="Fremdbanken">Fremdbanken</mat-option>
        <mat-option value="Sektorbanken">Sektorbanken</mat-option>
        <mat-option value="Sonstige Sektor">Sonstige Sektor</mat-option>
        <mat-option value="Sonstige Fremdfirmen">Sonstige Fremdfirmen</mat-option>
      </mat-select>
      <mat-error *ngIf="formtype">
        {{ 'Type' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="scInputs.customernumber" placeholder="{{ 'CustomerId' | translate }}" matInput
        [formControl]="formcustomernumber">
      <mat-error *ngIf="formcustomernumber">
        {{ 'CustomerId' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input [(ngModel)]="scInputs.customername" placeholder="{{ 'CustomerName' | translate }}" matInput [formControl]="formcustomername">
      <mat-error *ngIf="formcustomername">
        {{ 'CustomerName' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form id="rates-inputs">
    <mat-form-field class="width-rates-input">
      <mat-select [(ngModel)]="scrInputs.year" placeholder="{{ 'Year' | translate }}" [formControl]="formyear">
        <mat-option>None</mat-option>
        <mat-option value="{{currentYear-1}}">{{currentYear-1}}</mat-option>
        <mat-option value="{{currentYear}}">{{currentYear}}</mat-option>
        <mat-option value="{{currentYear+1}}">{{currentYear+1}}</mat-option>
      </mat-select>
      <mat-error *ngIf="formyear">
        {{ 'Year' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-rates-input">
      <input type="number" [(ngModel)]="scrInputs.dailyrate_at" placeholder="AT" matInput [formControl]="formAT">
      <mat-error *ngIf="formAT">
        AT {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-rates-input">
      <input type="number" [(ngModel)]="scrInputs.dailyrate_hu" placeholder="HU" matInput [formControl]="formHU">
      <mat-error *ngIf="formHU">
        HU {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-rates-input">
      <input type="number" [(ngModel)]="scrInputs.dailyrate_sk" placeholder="SK" matInput [formControl]="formSK">
      <mat-error *ngIf="formSK">
        SK {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="width-rates-input">
      <input type="number" [(ngModel)]="scrInputs.dailyrate_ro" placeholder="RO" matInput [formControl]="formRO">
      <mat-error *ngIf="formRO">
        RO {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <button [disabled]="scrForm.invalid" (click)="addSurchargeRate()" mat-mini-fab matTooltip="{{'AddRow' | translate}}"
      class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-dialog-content>

<table mat-table [dataSource]="surchargeRatesDataSource" class="mat-elevation-z8">

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> {{ 'Year' | translate }} </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.year}} </td>
  </ng-container>

  <!-- AT Daily Rate Column -->
  <ng-container matColumnDef="at" class="daily-rate-align">
    <th mat-header-cell *matHeaderCellDef> AT </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.dailyrate_at}} </td>
  </ng-container>

  <!-- HU Daily Rate Column -->
  <ng-container matColumnDef="hu" class="daily-rate-align">
    <th mat-header-cell *matHeaderCellDef> HU </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.dailyrate_hu}} </td>
  </ng-container>

  <!-- SK Daily Rate Column -->
  <ng-container matColumnDef="sk" class="daily-rate-align">
    <th mat-header-cell *matHeaderCellDef> SK </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.dailyrate_sk}} </td>
  </ng-container>

  <!-- RO Daily Rate Column -->
  <ng-container matColumnDef="ro" class="daily-rate-align">
    <th mat-header-cell *matHeaderCellDef> RO </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.dailyrate_ro}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-dialog-actions>
  <button [disabled]="scForm.invalid" (click)="saveSurchargeCustomer()" mat-mini-fab matTooltip="{{ 'ConfirmEdit' | translate }}"
    class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab mat-dialog-close matTooltip="{{ 'Cancel' | translate }}" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>