<div class="header">
  <h1 mat-dialog-title>{{'SurchargeCustomers' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="scInputs.debitornumber" matInput placeholder="Debitor Number" [formControl]="formdebitornumber">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="scInputs.debitorname" matInput placeholder="Debitor" [formControl]="formdebitorname">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select [(ngModel)]="scInputs.type" placeholder="Type" [formControl]="formtype">
      <mat-option>None</mat-option>
      <mat-option value="fremdbanken">Fremdbanken</mat-option>
      <mat-option value="sektorbanken">Sektorbanken</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="scInputs.customernumber" placeholder="Customer Number" matInput [formControl]="formcustomernumber">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input [(ngModel)]="scInputs.customername" placeholder="Customer Name" matInput [formControl]="formcustomername">
  </mat-form-field>

  <form id="rates-inputs">
    <mat-form-field class="half-width">
      <input type="number" [(ngModel)]="scrInputs.year" placeholder="Year" matInput [formControl]="formrates">
    </mat-form-field>

    <mat-form-field class="half-width">
      <input type="number" [(ngModel)]="scrInputs.dailyrate" placeholder="Daily Rate" matInput [formControl]="formrates">
    </mat-form-field>

    <button (click)="addSurchargeRate()" mat-mini-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </form>

</mat-dialog-content>

<table mat-table [dataSource]="surchargeRatesDataSource" class="mat-elevation-z8">

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.year}} </td>
  </ng-container>

  <!-- Daily Rate Column -->
  <ng-container matColumnDef="dailyrate">
    <th mat-header-cell *matHeaderCellDef> Daily rate </th>
    <td mat-cell *matCellDef="let surchargeRate"> {{surchargeRate.dailyrate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-dialog-actions>
  <button [disabled]="scForm.invalid" (click)="saveSurchargeCustomer()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>