<div class="align-page">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="filteredDataSource">

      <!-- BLZ Column -->
      <ng-container matColumnDef="blz">
        <th mat-header-cell *matHeaderCellDef class="header id-column">
          BLZ

          <button mat-icon-button (click)="blzSearch = !blzSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="blzSearch === true">
            <mat-form-field>
              <input type="number" [(ngModel)]="blzSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>

        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <input type="number" [(ngModel)]="cbInputs.blz" matInput (keyup.enter)="confirmEdit()" [formControl]="formblz">
              <mat-error *ngIf="formblz.invalid">
                BLZ is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.blz }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Block Column -->
      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef class="header">

          Block

          <button mat-icon-button (click)="blockSearch = !blockSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="blockSearch === true">
            <mat-form-field>
              <input [(ngModel)]="blockSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>


        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field>
              <input type="text" [(ngModel)]="cbInputs.block" [formControl]="formblock" matInput (keyup.enter)="confirmEdit()">
              <mat-error *ngIf="formblock.invalid">
                Block is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.block }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Nodes Column -->
      <ng-container matColumnDef="node">
        <th mat-header-cell *matHeaderCellDef class="header">

          Node

          <button mat-icon-button (click)="nodeSearch = !nodeSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="nodeSearch === true">
            <mat-form-field>
              <input [(ngModel)]="nodeSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="full-width">
              <input type="text" [(ngModel)]="cbInputs.node" [formControl] = "formnode" type="text" matInput (keyup.enter)="confirmEdit()">
              <mat-error *ngIf="formnode.invalid">
                Node is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.node }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Customer Name Column -->
      <ng-container matColumnDef="customername">
        <th mat-header-cell *matHeaderCellDef class="header">

          Customer Name

          <button mat-icon-button (click)="customernameSearch = !customernameSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="customernameSearch === true">
            <mat-form-field>
              <input [(ngModel)]="customernameSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="cbInputs.customername" matInput (keyup.enter)="confirmEdit()" [formControl]="formcustomername">
              <mat-error *ngIf="formcustomername.invalid">
                customer name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.customername }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Bank Group Column -->
      <ng-container matColumnDef="bankgroup">
        <th mat-header-cell *matHeaderCellDef class="header">

          Bank Group

          <button mat-icon-button (click)="bankgroupSearch = !bankgroupSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="bankgroupSearch === true">
            <mat-form-field>
              <input [(ngModel)]="bankgroupSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="cbInputs.bankgroup" matInput (keyup.enter)="confirmEdit()" [formControl]="formbankgroup">
              <mat-error *ngIf="formbankgroup.invalid">
                bank group is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.bankgroup }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Cluster Column -->
      <ng-container matColumnDef="cluster">
        <th mat-header-cell *matHeaderCellDef class="header">

          Cluster

          <button mat-icon-button (click)="clusterSearch = !clusterSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="clusterSearch === true">
            <mat-form-field>
              <input [(ngModel)]="clusterSearchQuery" (keyup)="filter()" matInput placeholder="Search..."
                class="searchInput">
            </mat-form-field>
          </div>

        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else simpleDisplay">
            <mat-form-field class="example-full-width">
              <input type="text" [(ngModel)]="cbInputs.cluster" matInput (keyup.enter)="confirmEdit()" [formControl]="formcluster">
              <mat-error *ngIf="formcluster.invalid">
                cluster is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template #simpleDisplay>
            <div>
              {{ element.cluster }}
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="header options-menu"></th>
        <td mat-cell *matCellDef="let element">
          <ng-template #editButton>
            <button [disabled]="createNewRow === true" mat-button (click)="editRow(element.id)" class="edit-icon">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>
          <div *ngIf="selectedRowToEdit === mapToDataSource(element.id); else editButton">
            <button mat-button class="done-icon" (click)="confirmEdit()" [disabled]="cbForm.invalid">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-button (click)="cancelEdit()" class="cancel-icon">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="space-for-buttons">
  </div>

  <div class="right">
    <button (click)="openDialog()" mat-fab matTooltip="{{'AddRow' | translate}}" class="add-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>