table {
  width: 100%;
}

.align-page {
  margin: 20px 10px 0px 10px;
}

.header {
  background: #428bca;
  color: white;
}

.highlight {
  background-color: #eeeeee;
}

.selectionHeader {
  width: 40px;
}

.space-for-buttons {
  height: 130px;
}

.options-menu {
  width: 10px;
}

.edit-icon {
  color: #428bca;
}

.cancel-icon {
  color: #d9534f;
}

.done-icon {
  color: #46a546;
}

.right {
  margin: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 30px 60px 0px;
}

.add-icon {
  background: #428bca;
  color: white;
}

.input-fields {
  margin-top: 15px;
  float:right;
}

.mat-form-field {
  float: left;
}

.full-width {
  width: 80%;
}

::ng-deep .mat-icon{
  height:20px !important;
  width:20px !important;
  font-size:20px !important;
}

.searchInput {
  color: white;
}

.align-items {
  float: left;
}