table {
  width: 100%;
}

input {
  color: #d9534f;
}

.align-page {
  padding: 10px;
}

.header {
  background: #428bca;
  color: white;
}

.highlight {
  background-color: #cccccc;
}

.selectionHeader {
  width: 40px;
}

.position-column {
  width: 80px;
}

.space-for-buttons {
  height: 130px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #74bdfd;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(64, 210, 255, 0.26)
}
