<div class="header">
  <h1 mat-dialog-title>{{'FixedPriceProjects' | translate }}</h1>
</div>

<mat-dialog-content>
  <form [formGroup]="fppForm">
    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="fppInputs.projectnumberplanmill" placeholder="{{ 'PlanmillProjektnummer' | translate }}" matInput
        [formControl]="formProjectnumberplanmill">
      <mat-error *ngIf="formProjectnumberplanmill">
        {{ 'PlanmillProjektnummer' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="fppInputs.projectidtagetik" placeholder="Tagetik Projekt ID" [formControl]="formProjectidtagetik"
        matInput (keyup.enter)="confirmEdit()">
      <mat-error *ngIf="formProjectidtagetik.invalid">
        {{ 'TagetikProjektID' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea [(ngModel)]="fppInputs.projectdescription" type="text" matInput placeholder="Projekt Bezeichnung"
        [formControl]="formProjectdescription"></textarea>
      <mat-error *ngIf="formProjectdescription.invalid">
        {{ 'ProjBez' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="fppInputs.customernumber" matInput placeholder="Kunden Nummer" [formControl]="formCustomernumber">
      <mat-error *ngIf="formCustomernumber.invalid">
        {{ 'KundenNr' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="fppInputs.price" matInput placeholder="Fixpreis" [formControl]="formPrice">
      <mat-error *ngIf="formPrice.invalid">
        {{ 'Fixpreis' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="fppForm.invalid" (click)="save()" mat-fab matTooltip="{{'ConfirmEdit' | translate}}" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-fab mat-dialog-close matTooltip="{{'Cancel' | translate}}" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>