<div class="header">
  <h1 mat-dialog-title>{{'FixedPriceProjects' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="fppInputs.planmill_pnr" placeholder="Planmill Projekt Nummer" matInput
      [formControl]="formProjectnumberplanmill">
    <mat-error *ngIf="formProjectnumberplanmill.invalid">
      Planmill Projektnummer is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="fppInputs.projectidtagetik" placeholder="Tagetik Projekt ID" [formControl]="formProjectidtagetikD"
      matInput (keyup.enter)="confirmEdit()">
    <mat-error *ngIf="formProjectidtagetik.invalid">
      Tagetik Projekt ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea [(ngModel)]="fppInputs.projectdescription" type="text" matInput placeholder="Projekt Bezeichnung" [formControl]="formProjectdescription"></textarea>
    <mat-error *ngIf="formProjectdescription.invalid">
      Projekt Bezeichnung is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="fppInputs.customernumber" matInput placeholder="Kunden Nummer" [formControl]="formCustomernumber">
    <mat-error *ngIf="formCustomernumber.invalid">
      Kunden Nummer is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="fppInputs.price" matInput placeholder="Fixpreis" [formControl]="formPrice">
    <mat-error *ngIf="formPrice.invalid">
      Fixpreis is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
  <button [disabled]="fppForm.invalid" (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>