<div class="header">
  <h1 mat-dialog-title>{{'FixedPriceProjects' | translate }}</h1>
</div>

<mat-dialog-content>
  <form [formGroup]="fppForm">
    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="fppInputs.projectPlanmillNumber" placeholder="{{ 'PlanmillProjektnummer' | translate }}"
        matInput [formControl]="formprojectPlanmillNumber">
      <mat-error *ngIf="formprojectPlanmillNumber">
        {{ 'PlanmillProjektnummer' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="fppInputs.projectIdTagetik" placeholder="Tagetik Projekt ID" [formControl]="formprojectIdTagetik"
        matInput (keyup.enter)="confirmEdit()">
      <mat-error *ngIf="formprojectIdTagetik.invalid">
        {{ 'TagetikProjektID' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea [(ngModel)]="fppInputs.projectDescription" type="text" matInput placeholder="Projekt Bezeichnung"
        [formControl]="formprojectDescription"></textarea>
      <mat-error *ngIf="formprojectDescription.invalid">
        {{ 'ProjBez' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="fppInputs.customerNumber" matInput placeholder="Kunden Nummer" [formControl]="formcustomerNumber">
      <mat-error *ngIf="formcustomerNumber.invalid">
        {{ 'KundenNr' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="fppInputs.price" matInput placeholder="Fixpreis" [formControl]="formPrice">
      <mat-error *ngIf="formPrice.invalid">
        {{ 'Fixpreis' | translate }} {{ 'ToBe' | translate}} <strong>{{ 'Required' | translate}}</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button [disabled]="fppForm.invalid" (click)="save()" mat-mini-fab matTooltip="{{'ConfirmEdit' | translate}}" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab mat-dialog-close matTooltip="{{'Cancel' | translate}}" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>