<div class="align-page">
  <div class="mat-elevation-z8" id="table-container">
    <table mat-table [dataSource]="filteredDataSource">

      <!-- Position ID Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Number' | translate}}
          <button mat-icon-button (click)="logIdSearch = !logIdSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="logIdSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="logIdSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>

      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Timestamp' | translate }}

          <button mat-icon-button (click)="timestampSearch = !timestampSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="timestampSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="timestampSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.time | timestamp }} </td>
      </ng-container>

      <!-- User Id Column -->
      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'UserId' | translate }}

          <button mat-icon-button (click)="userIdSearch = !userIdSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="userIdSearch === true" class="search-input">
            <mat-form-field>
              <input [(ngModel)]="userIdSearchQuery" (keyup)="filter()" matInput>
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="header">
          {{ 'Action' | translate }}

          <button mat-icon-button (click)="actionSearch = !actionSearch; clearSearchInputBox()">
            <mat-icon>search</mat-icon>
          </button>
          <div *ngIf="actionSearch === true" class="search-input">
            <mat-form-field>
              <mat-select [(value)]="actionSearchQuery" (selectionChange)="filter()">
                <mat-option>None</mat-option>
                <mat-option value="FPPCreate">{{ ('PopulateUserActions' | translate)['FPPCreate'] }}</mat-option>
                <mat-option value="FPPEdit">{{ ('PopulateUserActions' | translate)['FPPEdit'] }}</mat-option>
                <mat-option value="SCCreate">{{ ('PopulateUserActions' | translate)['SCCreate'] }}</mat-option>
                <mat-option value="SCEdit">{{ ('PopulateUserActions' | translate)['SCEdit'] }}</mat-option>
                <mat-option value="PNCreate">{{ ('PopulateUserActions' | translate)['PNCreate'] }}</mat-option>
                <mat-option value="PNEdit">{{ ('PopulateUserActions' | translate)['PNEdit'] }}</mat-option>
                <mat-option value="CBCreate">{{ ('PopulateUserActions' | translate)['CBCreate'] }}</mat-option>
                <mat-option value="CBEdit">{{ ('PopulateUserActions' | translate)['CBEdit'] }}</mat-option>
                <mat-option value="CBEdit">{{ ('PopulateUserActions' | translate)['GenerateAAR'] }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{ ('PopulateUserActions' | translate)[element.action] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="selectRow(index)" [ngClass]="{'highlight': index == selectedRow}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>
    </table>

    <div class="footer">
      <mat-paginator [pageSize]="15" [pageSizeOptions]="[15, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="space-for-buttons">
  </div>
</div>