<div class="header">
  <h1 mat-dialog-title>{{'CustomerBase' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="cbInputs.blz" placeholder="Blz" matInput
      [formControl]="formblz">
    <mat-error *ngIf="formblz.invalid">
      blz is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="cbInputs.block" placeholder="Block" [formControl]="formblock"
      matInput (keyup.enter)="confirmEdit()">
    <mat-error *ngIf="formblock.invalid">
      block is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="cbInputs.node" type="text" matInput placeholder="Nodes">
    <mat-error *ngIf="formnode.invalid">
      node is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea [(ngModel)]="cbInputs.customername" matInput placeholder="Customer Name" [formControl]="formcustomername"></textarea>
    <mat-error *ngIf="formcustomername.invalid">
      customer name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="cbInputs.bankgroup" matInput placeholder="bankgroup" [formControl]="formbankgroup">
    <mat-error *ngIf="formbankgroup.invalid">
      Bankgroup is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="cbInputs.cluster" matInput placeholder="Cluster" [formControl]="formcluster">
    <mat-error *ngIf="formcluster.invalid">
      cluster is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
  <button (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
</mat-dialog-actions>