<div class="header">
  <h1 mat-dialog-title>{{'PayerNodes' | translate }}</h1>
</div>

<mat-dialog-content>
  <form [formGroup]="pnForm">
    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="pnInputs.customernumber" placeholder="{{ 'CustomerNumber' | translate }}" matInput (keyup.enter)="confirmEdit()"
        [formControl]="formcustomernumber">
      <mat-error *ngIf="formcustomernumber.invalid">
        {{ 'CustomerNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="pnInputs.customername" placeholder="{{ 'CustomerName' | translate }}" [formControl]="formcustomername"
        matInput>
      <mat-error *ngIf="formcustomername.invalid">
        {{ 'CustomerName' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="pnInputs.hierarchy" matInput placeholder="{{ 'Hierarchy' | translate }}" [formControl]="formhierarchy">
      <mat-error *ngIf="formhierarchy.invalid">
        {{ 'Hierarchy' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" [(ngModel)]="pnInputs.payernodenumber" placeholder="{{ 'PayernodeNumber' | translate }}" matInput (keyup.enter)="confirmEdit()"
        [formControl]="formpayernodenumber">
      <mat-error *ngIf="formpayernodenumber.invalid">
        {{ 'PayernodeNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="pnInputs.payernodedescription" matInput placeholder="{{ 'PayernodeDescription' | translate }}"
        [formControl]="formpayernodedescription">
      <mat-error *ngIf="formpayernodedescription.invalid">
        {{ 'PayernodeDescription' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" [(ngModel)]="pnInputs.payernodecode" matInput placeholder="{{ 'Payernodecode' | translate }}" [formControl]="formpayernodecode">
      <mat-error *ngIf="formpayernodecode.invalid">
        {{ 'Payernodecode' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="pnForm.invalid" (click)="save()" mat-mini-fab matTooltip="{{ 'ConfirmEdit' | translate }}" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab mat-dialog-close matTooltip="{{ 'Cancel' | translate }}" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>