<div class="header">
  <h1 mat-dialog-title>{{'RegularCustomers' | translate }}</h1>
</div>

<mat-dialog-content>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="pnInputs.customernumber" placeholder="Customer Number" matInput (keyup.enter)="confirmEdit()"
      [formControl]="formcustomernumber">
    <mat-error *ngIf="formcustomernumber.invalid">
      Customernumber is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="pnInputs.customername" placeholder="Bezeichnung Kunde" [formControl]="formcustomername"
      matInput>
    <mat-error *ngIf="formcustomername.invalid">
      Customername is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="pnInputs.hierarchy" matInput placeholder="Hierarchy" [formControl]="formhierarchy">
    <mat-error *ngIf="formhierarchy.invalid">
      Hierarchy is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="number" [(ngModel)]="pnInputs.payernodenumber" placeholder="Payernode Number" matInput (keyup.enter)="confirmEdit()"
      [formControl]="formpayernodenumber">
    <mat-error *ngIf="formpayernodenumber.invalid">
      Payernodenumber is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="pnInputs.payernodedescription" matInput placeholder="Payernodedescription"
      [formControl]="formpayernodedescription">
    <mat-error *ngIf="formpayernodedescription.invalid">
      Payernodedescription is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input type="text" [(ngModel)]="pnInputs.payernodecode" matInput placeholder="Payernodecode" [formControl]="formpayernodecode">
    <mat-error *ngIf="formpayernodecode.invalid">
      Payernodecode is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="pnForm.invalid" (click)="save()" mat-fab matTooltip="Confirm" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-fab mat-dialog-close matTooltip="Cancel" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>