<div class="header">
  <h1 mat-dialog-title>{{'PayerNodes' | translate }}</h1>
</div>

<mat-dialog-content>
  <form [formGroup]="pnForm">
    <mat-form-field class="full-width">
      <input type="text" maxlength = '10' [(ngModel)]="pnInputs.customerNumber" placeholder="{{ 'customerNumber' | translate }}" matInput (keyup.enter)="confirmEdit()"
        [formControl]="formcustomerNumber">
      <mat-error *ngIf="formcustomerNumber.invalid">
        {{ 'customerNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" maxlength = '100' [(ngModel)]="pnInputs.customerName" placeholder="{{ 'customerName' | translate }}" [formControl]="formcustomerName"
        matInput>
      <mat-error *ngIf="formcustomerName.invalid">
        {{ 'customerName' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" maxlength = '5' [(ngModel)]="pnInputs.hierarchy" matInput placeholder="{{ 'Hierarchy' | translate }}" [formControl]="formhierarchy">
      <mat-error *ngIf="formhierarchy.invalid">
        {{ 'Hierarchy' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" max="9999999999" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]="pnInputs.payerNodeNumber" placeholder="{{ 'payerNodeNumber' | translate }}" matInput (keyup.enter)="confirmEdit()"
        [formControl]="formpayerNodeNumber">
      <mat-error *ngIf="formpayerNodeNumber.invalid">
        {{ 'payerNodeNumber' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" maxlength = '50' [(ngModel)]="pnInputs.payerNodeDescription" matInput placeholder="{{ 'payerNodeDescription' | translate }}"
        [formControl]="formpayerNodeDescription">
      <mat-error *ngIf="formpayerNodeDescription.invalid">
        {{ 'payerNodeDescription' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" maxlength = '30' [(ngModel)]="pnInputs.payerNodeCode" matInput placeholder="{{ 'payerNodeCode' | translate }}" [formControl]="formpayerNodeCode">
      <mat-error *ngIf="formpayerNodeCode.invalid">
        {{ 'payerNodeCode' | translate }} {{ 'ToBe' | translate }} <strong>{{ 'Required' | translate }}</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button [disabled]="pnForm.invalid" (click)="save()" mat-mini-fab matTooltip="{{ 'ConfirmEdit' | translate }}" class="done-icon">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab mat-dialog-close matTooltip="{{ 'Cancel' | translate }}" class="clear-icon">
    <mat-icon>clear</mat-icon>
  </button>
</mat-dialog-actions>